.controls {
  margin: auto;
  width: 70%;
  text-align: center;
  background: transparent;
}

.controls button {
  border: none;
  background: transparent;
  transition-duration: 0.3s;
  cursor: pointer;
}

.controls button:hover {
  filter: brightness(1.2);
}

.controls button:disabled {
  filter: brightness(0.5);
}

.hint-btn span, .safe-btn span {
  display: block;
  color: orange;
}

.active-hint { filter: brightness(1.4); }

.boom7-btn {
  height: 48px;
  background: linear-gradient(to top right, red, blue) !important;
  border: 2px solid white !important;
  border-radius: 50%;
  color: white;
}

.exterminator-btn {
  height: 48px;
  background: linear-gradient(to top right, blue, red) !important;
  border: 2px solid white !important;
  border-radius: 50%;
  color: white;
}
