body {
  padding: 0;
  margin: 0;
  font-family: cursive;
  background: url(../assets/images/background.png) no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

header {
  font-size: 48px;
  padding: 25px;
  color: whitesmoke;
  text-align: center;
}

.controls {
  margin: auto;
  width: 70%;
  text-align: center;
  background: transparent;
}

.status-btn img {
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  cursor: pointer;
}

.levels {
  margin-bottom: 10px;
}

.level {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.4);
  transition-duration: 0.3s;
}

.level:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
}

.active {
  border: 2px solid white;
}

.dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode label {
  margin-right: 10px;
}

.scores {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
